.landingpage-section{
    overflow: hidden;
    height: 100vh;
    .name-content{
       font-size: 70px;
       text-align: center;
       line-height: 20px;
       margin-top: -3%;
    }
    .position-content{
       font-size: 30px;
       text-align: center;
       line-height: 20px;  
    }
}