.landingpage-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .name-content {
   font-size: 70px;
   text-align: center;
   line-height: 40px;
   margin-top: 7%;
  }
  .position-content {
    font-size: 30px;
    text-align: center;
    line-height: 20px; 
  }
}
