.header-section {
  overflow: hidden;
  padding-top: 14px;
  padding-right: 14px;
  background-color: white;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 10px 5px rgba(246, 246, 252, 0.5);
  .dark & {
    background-color: black;
    box-shadow: none;
  }
  .nav-link {
    color: inherit;
    text-transform: uppercase;
    transition: color 0.3s ease;
    position: relative;
    font-family: cursive;
    letter-spacing: 2px;
  }
  .nav-link:hover {
    color: #2563eb;
  }
  .nav-link.active {
    color: #2563eb;
  }
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

.logo {
  font-family: 'Pacifico', cursive;
  span:first-child {
    font-size: 30px;
    color: #2563eb;
  }
  span:last-child {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
  }
}

}
